<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625874281923-iir91s7om6gkrl7iottblcuo4g5lvsgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625874281923-iir91s7om6gkrl7iottblcuo4g5lvsgg</string>
	<key>API_KEY</key>
	<string>AIzaSyBD5KvxXb34Oigv7UBVARHYqUhOwqZcmyU</string>
	<key>GCM_SENDER_ID</key>
	<string>625874281923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BrandiMilligan.HealthDetective</string>
	<key>PROJECT_ID</key>
	<string>healthdetective-abebf</string>
	<key>STORAGE_BUCKET</key>
	<string>healthdetective-abebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:625874281923:ios:b4e4b93363e8c908</string>
	<key>DATABASE_URL</key>
	<string>https://healthdetective-abebf.firebaseio.com</string>
</dict>
</plist>